{% extends "base.html" %}

{% block title %} About {% endblock title %}
{% block aboutactive %} active {% endblock aboutactive %}

{% block body %}
<!-- <h3>
    <marquee behavior="scroll" scrolldelay="100" style="color:red;">
     "Welcome Concatenian"
    </marquee>
   </h3> -->
   <!-- <div class="toast align-items-center text-white bg-primary border-0" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="d-flex">
      <div class="toast-body">
        Hello, world! This is a toast message.
      </div>
      <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
  </div>  -->

{% endblock body %}