{% extends "base.html" %}

{% block title %} Contact {% endblock title %}
{% block contactactive %} active {% endblock contactactive %}

{% block body %}
<div class="container my-5">
    <h4>Contact Us</h4>
    <form method= "post" action= "/contact">
    {% csrf_token %}
        <div class="mb-2">
          <label for="name" >Name</label>
          <input type="text" class="form-control" name="name" id="nameid" aria-describedby="name">
          
        </div>
        <div class="mb-2">
          <label for="exampleInputEmail1" >Email address</label>
          <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-2">
          <label for="phone" >Phone Number</label>
          <input type="text" class="form-control" name="phone" id="phoneid">
        </div>
        <div class="mb-2">
            <label for="content" >Describe Your Issue</label>
            <textarea class="form-control" name="content" id="contentid" cols="20" rows="2"></textarea>
          </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>             
</div>
      
{% endblock body %}