{% extends "base.html" %}

{% block title %} Home {% endblock title %}
{% block homeactive %} active {% endblock homeactive %}

{% block body %}
<div class="container my-2">
  <div class="card">
    <h5 class="card-header">Grow Together</h5>
    <div class="card-body">
      <h5 class="card-title">Welcome To Concate</h5>
      <p class="card-text">We offer modern solutions for Educations and careers.</p>
      <a href="/quiz" class="btn btn-primary">Let's Started</a>
    </div>
  </div>
</div>
<div class="container">
  <h5>Our Blog</h5>
  <div class="cat-date small">Dec 21, 2021</div>
  <p>Python was developed by Guido van Rossum and was released first on February 20, 1991. <a href="/concateblog/">→</a></p>
</div>
 
 
{% endblock body %}